<div class="login col-xs-offset-2 col-xs-8">
  <div class="form">

  <h1>Change Password</h1>

  <%= form_for :users, url: url_for(:controller => "users", :action => "changepassword") do |f| %>
    <%= f.password_field :currentpassword, :placeholder => "Current Password", class: "form-control" %>
    <%= f.password_field :newpassword, :placeholder => "New Password", class: "form-control" %>
    <%= f.password_field :repeatpassword, :placeholder => "Repeat Your New Password", class: "form-control" %>
    <%= f.submit "Sign Up", class: "btn btn-primary form-control" %>
  <% end %>

  </div>
</div>
