<h1> My Profile </h1>
<h2> Welcome, <%= $current_user %>; Here is your Profile Summary </h2>

<table>
  <tr>
    <th>Full Name:<br></th>
    <th><%= @edit_fullname %><br></th>
  </tr>
  <tr>
    <td>E-Mail Address:<br></td>
    <td><%= @edit_email %><br></td>
  </tr>
  <tr>
    <td>Gender:<br></td>
    <td><%= @edit_gender %><br></td>
  </tr>
  <tr>
    <td>Age:<br></td>
    <td><%= @edit_age %><br></td>
  </tr>
  <tr>
    <td>Contact Number:<br></td>
    <td><%= @edit_contactnum %><br></td>
  </tr>
  <tr>
    <td>Nationality:<br></td>
    <td><%= @edit_nationality %><br></td>
  </tr>
</table>

<%= button_to "Edit Profile", { :controller => 'users',
  :action => 'edit'},
  :method => :get %>
<%= button_to "Change Password", { :controller => 'users',
  :action => 'changepasswordform'},
  :method => :get %>

<h1> Here is Your Orders Summary </h1>

<table class="table">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Order Status</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |row| %>
    <tr>
      <td><%= link_to row["Order_ID"], url_for(:controller => 'users', :action => 'showorder', :id => row["Order_ID"]) %></td>
      <td><%= row["Order_Date"] %></td>
      <td><%= row["Order_Status"] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h1> Here is Your Rating Summary </h1>

<table class="table">
  <thead>
    <tr>
      <th>Rating ID</th>
      <th>Rating Date</th>
      <th>Product Name</th>
      <th>Rating Score</th>
      <th>Rating Description</th>
    </tr>
  </thead>
  <tbody>
    <% @ratings.each do |row| %>
    <tr>
      <td><%= row["Rating_ID"] %></td>
      <td><%= row["Date_Added"] %></td>
      <td><%= link_to row["Product_Name"], url_for(:controller => 'products', :action => 'show', :id => row["Product_ID"])%></td>
      <td><%= row["Score"] %></td>
      <td><%= row["Description"] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h1> Here are Ratings You Have Reviewed </h1>

<table class="table">
  <thead>
    <tr>
      <th>Rating ID</th>
      <th>Rated By</th>
      <th>Rating Description</th>
      <th>Rating Score</th>
      <th>Helpfulness Score You Gave</th>
    </tr>
  </thead>
  <tbody>
    <% @helpfulness.each do |row| %>
    <tr>
      <td><%= link_to row["Rating_ID"], url_for(:controller => 'products', :action => 'show', :id => @helpfulnessandname[row["Rating_ID"]][2]) %></td>
      <td><%= @helpfulnessandname[row["Rating_ID"]][1] %></td>
      <td><%= @helpfulnessandname[row["Rating_ID"]][0] %></td>
      <td><%= @helpfulnessandname[row["Rating_ID"]][3] %></td>
      <td><%= row["Score"] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
