<h1>All Products</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Stock</th>
      <th>Date Added</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |p| %>
    <tr>
      <td><%=p["Product_ID"]%></td>
      <td><%=p["Product_Name"]%></td>
      <td><%=p["Stock_Qty"]%></td>
      <td><%=p["Date_Added"]%></td>
      <td><%=p["Last_Updated"]%></td>
    </tr>
    <% end %>
  </tbody>
</table>
