<div>
	<%= form_tag products_path, :method => 'get' do %>
	  <div class="navbar-form">
			<div class="input-group">
				<%= text_field_tag :search_flavour, params[:search], :class=>"form-control", :placeholder=>"enter flavour here" %>
				<%= text_field_tag :search_qty, params[:search], :class=>"form-control", :placeholder=>"enter quantity here" %>
				<strong>Sort= </strong>
				<%= radio_button_tag(:sort, "AtoZ") %>
				<%= label_tag(:sort_AtoZ, "From A to Z") %>
				<%= radio_button_tag(:sort, "stock") %>
				<%= label_tag(:sort_stock, "Decreasing Stock") %>
				<%= radio_button_tag(:sort, "priceASC") %>
				<%= label_tag(:sort_priceASC, "Increasing Price") %>
				<%= radio_button_tag(:sort, "priceDESC") %>
				<%= label_tag(:sort_priceDESC, "Decreasing Price") %>
				<%= radio_button_tag(:sort, "popular") %>
				<%= label_tag(:sort_popular, "Decreasing Popularity") %>
			<div class="input-group-btn">
			  <%= submit_tag "Search", :name => nil, :class=>"form-control" %>
			</div>
			</div>
	  </div>
	<% end %>
</div>

<div>
	<% @products.each do |row| %>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="card" style="col-xs-6">
			  <img src="http://i65.tinypic.com/b8lont.png"class="card-img-top"  alt="Card image"/>
			  <div class="card-block">
			    <h4 class="card-title">
			    	<%= link_to row["Product_Name"], url_for(:controller => 'products', :action => 'show', :id => row["Product_ID"]) %></h4>
			    <div class="card-text">
						SGD <%= sprintf('%.2f', row["Price"]) %><br/>
			    	Stock Left= <%= row["Stock_Qty"] %>
			    </div>
					<% if logged_in? %>
						<% if orders_get_quantity(row["Product_ID"]).to_i==0 %>
							<!--input class="form-control bfh-number" type="number" value="<%= orders_get_quantity(row["Product_ID"]).to_i %>" min="0" name="orderqty_<%= row["Product_ID"] %>" id="orderqty_<%= row["Product_ID"] %>"-->
							<button class="btn btn-primary btn-add-to-cart" id="<%= row["Product_ID"] %>">BUY</button>
						<% else %>
							<button class="btn btn-primary btn-remove-from-cart" id="<%= row["Product_ID"] %>">CANCEL</button>
						<% end %>
					<% end %>
			  </div>
			</div>
		</div>
	<% end %>
	
</div>
