<div class="container">

	<%= form_tag products_path, :method => 'get' do %>
	  <div class="navbar-form">
			<div class="input-group searchsize">
				<%= text_field_tag :search_flavour, params[:search], :class=>"form-control", :placeholder=>"enter flavour here" %>
				<%= text_field_tag :search_qty, params[:search], :class=>"form-control", :placeholder=>"enter quantity here" %>
				<div class="input-group-btn">
				  <%= submit_tag "Search", :name => nil, :class=>"form-control" %>
				</div>
			</div>
	  </div>
	<% end %>

	<div class="col-xs-8">
		<h1>Products</h1>
	</div>
	<div class="col-xs-4">
		<h1>Stock Quantity</h1>
	</div>
</div>


<% if logged_in? %>
<p>
	<%= "Welcome! User " + $current_user + ". Have fun Shopping!"%>
    <%= link_to "Sign Out", logout_path, method: "delete" %>
</p>
<% end %>


<div class="container">"
	<div class="rowProduct">
		<% @products.each do |row| %>
		
			<div class="col-xs-3">
				<div class="card" style="col-xs-6">
				  <img src="http://i65.tinypic.com/b8lont.png"class="card-img-top"  alt="Card image"/>

				  <div class="card-block">
				    <h4 class="card-title">
				    	<%= link_to row["Product_Name"], url_for(:controller => 'products', :action => 'show', :id => row["Product_ID"]) %></h4>
				    <div class="card-text">
				    	Stock Left= <%= row["Stock_Qty"] %>
				    </div>
				    <a href="#" class="btn btn-primary">BUY</a>
				  </div>
				</div>
			</div>

		<% end %>
	</div>
</div>
