<div class="container">
	<div class="col-xs-8">
		<h1>Products</h1>
	</div>
	<div class="col-xs-4">
		<h1>Stock Quantity</h1>
	</div>
</div>

<% if logged_in? %>
<p>
	<%= "Welcome! User " + $current_user + ". Have fun Shopping!"%>
    <%= link_to "Sign Out", logout_path, method: "delete" %>
</p>
<% end %>

<div class="container">
	<% @products.each do |row| %>
		<div class="row">
		<div class="well">
			<div class="row">
				<div class="col-xs-8">
					<%= link_to row["Product_Name"], url_for(:controller => 'products', :action => 'show', :id => row["Product_ID"]) %>
				</div>
				<div class="col-xs-1">
					<%= row["Stock_Qty"] %>
				</div>
				<div class="col-xs-3">
					<% if logged_in? %>
						<% if orders_get_quantity(row["Product_ID"]).to_i==0 %>
							<div class="col-xs-4">
								<input class="form-control bfh-number" type="number" value="1" min="1" name="orderqty_<%= row["Product_ID"] %>" id="orderqty_<%= row["Product_ID"] %>">
							</div>
							<div class="col-xs-8">
								<button class="form-control btn btn-primary btn-add-to-cart" id="<%= row["Product_ID"] %>">Add to Cart</button>
							</div>
						<% else %>
							<div class="col-xs-4">
								<input class="form-control bfh-number" type="number" value="<%= orders_get_quantity(row["Product_ID"]).to_i %>" min="0" name="orderqty_<%= row["Product_ID"] %>" id="orderqty_<%= row["Product_ID"] %>">
							</div>
							<div class="col-xs-8">
								<button class="form-control btn btn-primary btn-update-cart" id="<%= row["Product_ID"] %>">Update Cart</button>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		</div>
	<% end %>
	
</div>
